

<div class="container-fluid">
    <div class="row">
        <div id="content">
            <!-- topbar -->
            <div class="topbar">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                     <button type="button" id="sidebarCollapse" class="sidebar_toggle" (click)="toggleSidebar()">
                      <i class="fa fa-bars"></i></button>
                     <div class="logo_section">

                     <img class="img-responsive" src="../assets/images/logo/logo.png"/>
                     </div>
                     <div class="right_topbar">
                        <div class="icon_info">
                           <ul>
                              <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                              <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                              <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                           </ul>
                           <ul class="user_profile_dd">
                              <li>
                                 <a class="dropdown-toggle">
                                    <img class="img-responsive rounded-circle" src="src/assets/images/layout_img/user_img.jpg" alt="#" />
                                    <span class="name_user">John David</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="profile.html">My Profile</a>
                                    <a class="dropdown-item" href="settings.html">Settings</a>
                                    <a class="dropdown-item" href="help.html">Help</a>
                                    <a class="dropdown-item" href="#"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
         </div>
      <!-- Sidebar -->
      <div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
        <!-- Sidebar content -->

        <div class="dashboard dashboard_1">
            <div class="full_container">
                <div class="inner_container">
                   <!-- Sidebar  -->
                   <nav id="sidebar">
                      <div class="sidebar_blog_1">
                         <div class="sidebar-header">
                            <div class="logo_section">
                               <a href="index.html"><img class="logo_icon img-responsive"  type="text/html" src="/assets/images/logo/logo_icon.png" alt="#" /></a>
                            </div>
                         </div>
                         <div class="sidebar_user_info">
                            <div class="icon_setting"></div>
                            <div class="user_profle_side">
                           
                               <div class="user_info">
                                  <!-- <h6>John David</h6> -->
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="sidebar_blog_2">
                         
                         <ul class="list-unstyled components">
                            <li class="active">
                               <a href="/main-index" 
                               ><i class="fa fa-dashboard yellow_color"></i> 
                               <span>Dashboard</span></a>

                            </li>
                            <li>
                              
                            </li>
                            <li><a href="/newsletter-page"><i class="fa fa-table purple_color2"></i> <span>Newsletter</span></a></li>
                            <li>
                               <a href="/users-page" ><i class="fa fa-object-group blue2_color"></i> <span>Users</span></a>
                              
                            </li>
                            <li><a href="/expense-page"><i class="fa fa-briefcase blue1_color"></i> <span>Expense</span></a></li>
                            <li>
                               <a href="/query-page">
                               <i class="fa fa-paper-plane red_color"></i> <span>Query</span></a>
                            </li>
                            <li class="active">
                               <a href="/users-page" data-toggle="collapse" aria-expanded="false"><i class="fa fa-clone yellow_color"></i> <span>Users</span></a>
                               
                            </li>
                            <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Map</span></a></li>
                            <li><a href="/reports-page"><i class="fa fa-bar-chart-o green_color"></i> <span>Reports</span></a></li>
                            <li><a href="settings.html"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
                         </ul>
                      </div>
                   </nav>
                   <!-- end sidebar -->
                   <!-- right content -->
                  
                   
                </div>
            
             </div>
            </div>
            <!-- <div class="container-fluid">
                <div class="footer">
                   <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                      Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                   </p>
                </div>
             </div> -->
      </div>
      
      <!-- Main Content -->
      <div class="main-content" [ngClass]="{'main-content-full': isCollapsed, 'main-content-partial': !isCollapsed}">
        <!-- Main content -->
        <router-outlet />

      </div>
    
    </div>
    <div class="row">
    <div class="footer"  [ngClass]="{'main-content-full': isCollapsed, 'main-content-partial': !isCollapsed}">
       <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
          Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
       </p>
    </div>
 </div>
  </div>
  